@import url(colors.css);

#header {
    padding: 0.2em 2em 0.2em 2em;
    width: 100vw;
    height: 48px;
    background-color: var(--cl-bg-menu-navigation);
    border-bottom: 2px solid var(--cl-200);
}

.nav {
    display: flex;
    margin-top: 5px;
}

#logout-link {
    margin-right: 1.7em;
}

.logo-text {
    margin-right: auto;
}

.nav #icon-toggle-theme {
    cursor: pointer;
}

.container {
    display: flex;
}

.wrapp {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 95vh;
    padding: 0 1em;
    background-color: var(--cl-bg-system-boxes);
}

#encrypted,
#decrypted {
    border: 0;
    margin: 0;
    padding: 1em;
    overflow-y: auto;
}

#decrypted.hide,
#encrypted.hide,
#sign-in.hide,
#sign-up.hide,
#logout-link.hide,
#signin-error-alert.hide {
    display: none;
}

.header-encryptations {
    padding: 1em;
}

#main-content {
    display: flex;
    flex-direction: column;
    width: 65vw;
    height: 95vh;
    padding: 1em 2em;
    background-color: var(--cl-bg-main-content);
}

.box-text {
    background-color: var(--cl-bg-box-text);
    margin: 0 0 1em 0;
    padding: 0.7em;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}    

.text-encrypt {
    min-height: 25px;
    max-height: 25px;
    max-width: 100vw;
    margin: 1em 0 1em 0;
}

.box-saved-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-links {
    display: flex;
}

.box-saved-date {
    display: flex;
    margin-right: auto;
    align-self: flex-end;
}

.buttons-wrapp {
    display: flex;
    align-self: flex-end;
}

.box-links li {
    margin: 0 0.4em 0 0;
    list-style: none;
}

/* BUTTONS */
.view,
.copy,
.remove {
    cursor: pointer;
    border: 0;
    padding: 0.3em 0.5em;
    border-radius: 0.4em;
    background: transparent;
}

.copy {
    margin: 0 0.4em;
}

button {
    border: none;
    padding: 1em 1.4em;
    cursor: pointer;
    background-color: var(--primary);
    border-radius: 0.5em;
    color: var(--cl-100);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

button:hover {
    background-color: var(--cl-button-hover);
    transition: background-color 500ms;
}

button:active {
    transform: scale(0.90);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

button i {
    margin: 0 0.5em 0 0;
}

input[type=submit] {
    border: none;
    padding: 1em 1.4em;
    cursor: pointer;
    background-color: var(--primary);
    border-radius: 0.5em;
    color: var(--cl-100);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

input[type=submit]:hover {
    background-color: var(--cl-button-hover);
    transition: background-color 500ms;
}

input[type=submit]:active {
    transform: scale(0.97);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/* TEXTAREA */
textarea {
    background-color: var(--cl-bg-textarea);
    border: 1px solid var(--cl-300);
    padding: 0.5em;
}

/* MODAL */
.modal {
    padding: 0 1em 1em 1em;
    width: 70vw;
    height: 80vh;
    margin: 0 auto;
    top: 10vh;
    border: 0;
    border-radius: 0.5em;
    z-index: 999;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
}

.modal-header {
    background: #fff;
    position: sticky;
    display: flex;
    top: 0;
    padding: 1em 0;
}

.modal-header h2 {
    margin-right: auto;
}

.modal p {
    word-wrap: break-word;
}

dialog::backdrop {
    background: rgb(0 0 0 / 0.4);
}

.textarea-result,
.textarea-input {
    resize: none;
    width: 100%;
    height: 35vh;
    border-radius: 0.5em;
    align-self: center;
}

.invalid {
    border: 2px solid red;
    background-color: rgb(255, 188, 188);
}

#error-message {
    color: red;
}

textarea:focus {
    outline: none;
}


/* ###### MAIN CONTENT LOGIN PAGE ###### */
#main-login-page {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.form-container {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cl-200);
}

.presentation-container {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/images/login-left-img.svg'); 
    background-repeat: no-repeat;
    background-size: cover;
}

.img-padlock {
    max-width: 70%;
    height: auto;
}

.logo-icon {
    width: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 453px;
}

.form input {
    margin: 0 0 1.5em 0;
    padding: 1.4em;
    border-radius: 0.4em;
}

.form-header {
    margin: 0 0 1em 0;
}

#signin-error-alert {
    padding: 1.2em;
    background-color: rgb(247, 199, 199);
    border: 2px solid rgb(243, 127, 127);
    border-radius: 0.4em;
    margin-top: 0.5em;
}

.fa-circle-xmark {
    color: rgb(236, 92, 92);
    margin-right: 0.4em;
}
