@import url(typography.css);
@import url(components.css);

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

/* For style scrollbar - remove it */
html {
    scrollbar-width: none; /* Hide scrollbar in Firefox */
}

::-webkit-scrollbar { /* For other browsers */
    display: none;
}
